@page {
	margin: 0cm 0cm;
}

body {
	background-size: cover;
	background-repeat: no-repeat;
	padding: 10px 25px 0px 25px;
	height: 100%;
	position: relative;
	margin: 0 auto;
	color: #333; /* Más suave que el negro puro */
	font-size: 12px;
	font-family: 'Arial', sans-serif; /* Cambio a Arial */
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

a {
	color: #0056b3; /* Azul más suave */
	text-decoration: none;
}

#comp, #client .to, #invoice h1, #thanks {
	font-size: 16px;
	color: #333;
	font-weight: bold;
}

#logo, #company, #Title-heading, #total, #signature {
	margin-top: 10px;
	float: left;
	width: 100%;
	text-align: center;
}

#logo img {
	height: auto;
	width: 100px; /* Logo más pequeño y manejable */
}

#company, #Title-heading {
	text-align: right;
}

#total {
	margin-top: 10px;
}

#total > table, #invoice > table, #client > table, #details_inv > table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}

th {
	background-color: #f2f2f2; /* Fondo claro para las cabeceras */
	color: #333; /* Texto más suave */
	font-weight: bold;
}

td {
	background-color: #fff; /* Fondo blanco para contenido */
	color: #666; /* Texto gris suave */
	padding: 8px;
	border: 1px solid #ddd; /* Bordes sutiles */
}

tfoot tr td {
	border-top: 2px solid #aaa; /* Línea más definida en el pie */
	font-size: 14px;
}

footer {
	color: #777;
	width: 100%;
	text-align: center;
	border-top: 1px solid #AAAAAA;
	padding: 8px 0;
}

#notices {
	padding-left: 6px;
	border-left: 6px solid #0056b3; /* Azul más suave */
}

#notices .notice {
	font-size: 1.2em;
}
